<div marginwidth="0" marginheight="0">
    <div style="background-color:#fffff;width:100%;margin:0;padding:50px 0 20px 0">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
	    <tbody>
		<tr>
		    <td align="center" valign="top">
			<p style="margin-top:0">
			    
			</p>                    	
			<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-radius:6px!important;background-color:#fdfdfd;border:1px solid black;border-radius:6px!important">
			    <tbody>
				<tr>
				    <td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#00FF00;color:#ffffff;border-top-left-radius:6px!important;border-top-right-radius:6px!important;border-bottom:0;font-family:Arial;font-weight:bold;line-height:100%;vertical-align:middle" bgcolor="#00FF00">
					    <tbody>
						<tr>
						    <td>
							<h1 style="color:#ffffff;margin:0;padding:28px 24px;display:block;font-family:Arial;font-size:30px;font-weight:bold;text-align:left;line-height:150%">
							    {Title} | Uitnodiging subpoule links
							</h1>
						    </td>
						</tr>
					    </tbody>
					</table>
				    </td>
				</tr>
				<tr>
				    <td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="600">
					    <tbody>
						<tr>
						    <td valign="top" style="background-color:#fdfdfd;border-radius:6px!important">
							<table border="0" cellpadding="20" cellspacing="0" width="100%">
							    <tbody>
								<tr>
								    <td valign="top">
									<div style="color:#737373;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
									    <p>{Begroeting}</p>
									    
									    <p>{standaard content}</p>
									    
									    <hr>
									    
									    <p>{persoonlijke bootschap}</p>
									    
									    <div style="background-color:#fdfdfd;display:block;border:1px solid black;border-radius:0px!important; padding:15px;text-align: center;">
										<h2 style="color:#505050; display:block;font-family:Arial;font-size:30px;font-weight:bold;margin-top:0px;margin-right:0;margin-bottom:10px;margin-left:0;text-align:center;line-height:150%">
										    {poule naam}
										</h2>
										<p>{poule beschrijving}</p>
										<div style="text-align: center;">
										    <a href="" style="display: inline-block;border-radius:6px!important;border:1px solid black; background-color: green; padding: 10px; width: 75%!important;">accepteren</a>
										    <a href="" style="display: inline-block;border-radius:6px!important;border:1px solid black; background-color: red; margin-top: 5px!important; padding: 10px; width: 75% !important">Verwijderen</a>
										</div>
									    </div>
									    
									</div>
								    </td>
								</tr>
							    </tbody>
							</table>
						    </td>
						</tr>
					    </tbody>
					</table>
				    </td>
				</tr>
				<tr>
				    <td align="center" valign="top">
					<table border="0" cellpadding="10" cellspacing="0" width="600" style="border-top:0">
					    <tbody>
						<tr>
						    <td valign="top">
							<table border="0" cellpadding="10" cellspacing="0" width="100%">
							    <tbody>
								<tr>
								    <td colspan="2" valign="middle" style="border:0;color:#85d9eb;font-family:Arial;font-size:12px;line-height:125%;text-align:center">
									<p>
									    {Website naam}
									</p>
								    </td>
								</tr>
							    </tbody>
							</table>
						    </td>
						</tr>
					    </tbody>
					</table>
				    </td>
				</tr>
			    </tbody>
			</table>
		    </td>
                </tr>
	    </tbody>
	</table>
    </div>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>

</div>