<div marginwidth="0" marginheight="0">
    <div style="background-color:#fffff;width:100%;margin:0;padding:70px 0 70px 0">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
	    <tbody>
		<tr>
		    <td align="center" valign="top">
			<p style="margin-top:0">
			    
			</p>                    	
			<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-radius:6px!important;background-color:#fdfdfd;border:1px solid #e5e50d;border-radius:6px!important">
			    <tbody>
				<tr>
				    <td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#33c0de;color:#ffffff;border-top-left-radius:6px!important;border-top-right-radius:6px!important;border-bottom:0;font-family:Arial;font-weight:bold;line-height:100%;vertical-align:middle" bgcolor="#33c0de">
					    <tbody>
						<tr>
						    <td>
							<h1 style="color:#ffffff;margin:0;padding:28px 24px;display:block;font-family:Arial;font-size:30px;font-weight:bold;text-align:left;line-height:150%">
							    {Title}
							</h1>
						    </td>
						</tr>
					    </tbody>
					</table>
				    </td>
				</tr>
				<tr>
				    <td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="600">
					    <tbody>
						<tr>
						    <td valign="top" style="background-color:#fdfdfd;border-radius:6px!important">
							<table border="0" cellpadding="20" cellspacing="0" width="100%">
							    <tbody>
								<tr>
								    <td valign="top">
									<div style="color:#737373;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
									    <p>Je hebt een bestelling ontvangen van herman Versteegt. De bestelling is als volgt:</p>
									    <h2 style="color:#505050;display:block;font-family:Arial;font-size:30px;font-weight:bold;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;line-height:150%">
										Bestelnummer: #1071 (<u></u>4 maart, 2014<u></u>)
									    </h2>
									    <table cellspacing="0" cellpadding="6" style="width:100%;border:1px solid #eee" border="1">
										<thead>
										    <tr>
											<th scope="col" style="text-align:left;border:1px solid #eee">Product</th>
											<th scope="col" style="text-align:left;border:1px solid #eee">Aantal</th>
											<th scope="col" style="text-align:left;border:1px solid #eee">Prijs</th>
										    </tr>
										</thead>
										<tbody>
										    <tr>
											<td style="text-align:left;vertical-align:middle;border:1px solid #eee;word-wrap:break-word">
											    123Lens.nl kortingsvoucher t.w.v. € 20,00 voor maar € 3,95 (#VWL291)<br>
											    <small>Voucher Code 1: gBaMvu15, <br>
												Voucher Code 1 Sent To: herman Versteegt (
												<a href="mailto:stefan@esser-emmerik.nl" target="_blank">stefan@esser-emmerik.nl</a>)
											    </small>
											</td>
											<td style="text-align:left;vertical-align:middle;border:1px solid #eee">1</td>
											<td style="text-align:left;vertical-align:middle;border:1px solid #eee">
											    <span>€3.95</span>
											</td>
										    </tr>
										</tbody>
										<tfoot>
										    <tr>
											<th scope="row" colspan="2" style="text-align:left;border:1px solid #eee;border-top-width:4px">
											    Subtotaal:
											</th>
											<td style="text-align:left;border:1px solid #eee;border-top-width:4px">
											    <span>€3.95</span>
											</td>
										    </tr>
										    <tr>
											<th scope="row" colspan="2" style="text-align:left;border:1px solid #eee">
											    Verzending:
											</th>
											<td style="text-align:left;border:1px solid #eee">
											    <span>€5</span>
											    &nbsp;
											    <small> via Kosten</small>
											</td>
										    </tr>
										    <tr>
											<th scope="row" colspan="2" style="text-align:left;border:1px solid #eee">
											    Bestellingstotaal:
											</th>
											<td style="text-align:left;border:1px solid #eee">
											    <span>€8.95</span> 
											    (Bevat <span>€0.69</span> BTW 21%)
											</td>
										    </tr>
										</tfoot>
									    </table>
									    <p>
										<strong>Payment Type:</strong> Overschrijving
									    </p>

									    <h2 style="color:#505050;display:block;font-family:Arial;font-size:30px;font-weight:bold;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;line-height:150%">
										Klantinfo
									    </h2>

									    <p>
										<strong>E-mail:</strong> 
										<a href="mailto:stefan@esser-emmerik.nl" target="_blank">stefan@esser-emmerik.nl</a>
									    </p>
									    <p>
										<strong>Tel:</strong> 0641158163
									    </p>

									    <table cellspacing="0" cellpadding="0" style="width:100%;vertical-align:top" border="0">
										<tbody>
										    <tr>
											<td valign="top" width="50%">

											    <h3 style="color:#505050;display:block;font-family:Arial;font-size:26px;font-weight:bold;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;line-height:150%">
												Factuuradres
											    </h3>

											    <p>TESTesser-emmerik<br>
												herman Versteegt<br>
												Burgemeester van Trichtlaan 28<br>
												3648VH Wilnis
											    </p>

											</td>


											<td valign="top" width="50%">

											    <h3 style="color:#505050;display:block;font-family:Arial;font-size:26px;font-weight:bold;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;line-height:150%">
												Verzendadres
											    </h3>

											    <p>TESTesser-emmerik<br>
												herman Versteegt<br>
												Burgemeester van Trichtlaan 28<br>
												3648VH Wilnis
											    </p>

											</td>


										    </tr>
										</tbody>
									    </table>
									</div>
								    </td>
								</tr>
							    </tbody>
							</table>
						    </td>
						</tr>
					    </tbody>
					</table>
				    </td>
				</tr>
				<tr>
				    <td align="center" valign="top">
					<table border="0" cellpadding="10" cellspacing="0" width="600" style="border-top:0">
					    <tbody>
						<tr>
						    <td valign="top">
							<table border="0" cellpadding="10" cellspacing="0" width="100%">
							    <tbody>
								<tr>
								    <td colspan="2" valign="middle" style="border:0;color:#85d9eb;font-family:Arial;font-size:12px;line-height:125%;text-align:center">
									<p>
									    <span class="il">Daydealbutler</span>.nl | Elke dag de beste deals
									</p>
								    </td>
								</tr>
							    </tbody>
							</table>
						    </td>
						</tr>
					    </tbody>
					</table>
				    </td>
				</tr>
			    </tbody>
			</table>
		    </td>
                </tr>
	    </tbody>
	</table>
    </div>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>

</div>